*
{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding:0;
    outline:0;
}
body
{
    background-image: url(./images/random4.jpg);
    background-repeat: no-repeat;
    z-index:1;
    height:100vh;
    width:100vw;
}
.header
{
    position:sticky;
    top:0;
    height:5em;
    width:100vw;
    background-color: whitesmoke;
    border:1px solid black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.header-left
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.logo
{
    src:url(./images/logo.png);
    width:300px;
    height:100px;
    z-index:999;
}
.logo-name
{
    content:url(./images/logo_name.png);
    width: clamp(300px, 100%, 30vw);
    z-index:999;
}
.header-middle
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.header-middle button
{
    outline:0;
    border:1px solid black;
    margin:5px;
    padding:3px;
}


#content
{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height:100vh;
    width:100vw
    /* clamp(min,preferred,max) */
}
/* For home page */

.home
{
   flex:display;
   flex-direction: column;
   flex-wrap: wrap;
}
.home img
{
    position:fixed;
    background-image: url(./images/random4.jpg);
    width:100vw;
    height:10vh;
    background-repeat: no-repeat;
    z-index:1;
}
.random-image
{
    src:url(./images/random1.jpg);
    height:100vh;
    width:100vw;
}